body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#editorContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#canvasContainer {
    display: inline-block;
}

#historyContainer {
    margin-left: 20px;
    text-align: left;
}

canvas {
    border: 1px solid #000;
}

button {
    margin: 5px;
}

#history img {
    display: block;
    margin-bottom: 5px;
    border: 1px solid #ccc;
}

#history img.selected {
    border: 2px solid #000;
}